.success {
  background-color: lightgreen;
  color: black;
  line-height: 2em;
}

.failure {
  line-height: 2em;
  background-color: darkred;
  color: white;
}

td.no-padding {
  padding: 0px !important;
}

td, th {
  text-align: center;
}

td.left, th.left {
  text-align: left;
}

.table-container {
    height: 10em;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    position: fixed;
    background-color: white;
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    margin-top: 4em;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}